@model Ecommerce.Models.AdModel

@{
    ViewBag.Title = "ViewAd";
}

<h2>ViewAd</h2>

<h3>@ViewBag.username</h3>
<link href="~/Content/pagination.css" rel="stylesheet" />

<div class="row" style="margin-bottom:40px">
    @if (Model != null)
    {

        <div class="row">
            <div class="col-md-6 col-lg-4 how-img">
                <img src="@Url.Content(Model.prod_img)" style="height:100%; width:100%; border-radius:50px;" />
            </div>
            <div class="col-md-6" style="padding-top: 150px;">
                <h2>Name: @Model.prod_name</h2>
                <h3 class="text-muted">@Model.prod_description</h3>
                <br />
                <ul class="subheading" style="font-size:1.7rem;">
                    <li>Price: @Model.prod_price$ </li>
                    <li>category: @Model.cate_name  </li>
                    <li> Contact: @Model.u_contact </li>
                    @if (Convert.ToInt32(Session["user_id"]) == Convert.ToInt32(Model.prod_fk_user))
                    {
                        @Html.ActionLink("Edit Ad", "EditAdv", new { id = Model.prod_id }, new { @class = "btn btn-warning" })

                        @Html.ActionLink("Close Ad", "DeleteAdv", new { id = Model.prod_id }, new { @class = "btn btn-danger" })
                    }
                </ul>

            </div>
        </div>
    }


</div>


